

<template name="_header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">iTFM</a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.emails.[0].address }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="{{ isActiveRoute regex='profile' }}">
                <a href="{{pathFor 'profile'}}">
                    Tu Perfil
                    </a>
                </li>

                <li role="separator" class="divider"></li>
                <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Salir</a></li>

              </ul>
            </li>
            



          </ul>
        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Accede</a>
            <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Registrate</a>
          </div>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li>
          <li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-gear"></i> Dashboard</a></li>
          {{#if isInRole "admin"}}
            <li class="{{ isActiveRoute regex='adminpanel|gestionusuarios|gestiontfm' }}"  id="adminbar"><a href="{{ pathFor 'adminpanel' }}"><i class="fa fa-gear"></i> Admin Panel</a></li>
          {{/if}}
        </ul>
      </div>

    </div>
  </nav>
<!--<script type="text/javascript" src="client/compatibility/bootstrap.js"></script>-->
</template>
