<template name="appLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <body>
    <div class="ui left vertical menu sidebar">
      <a class="item">
      Item 1
    </a>
      <a class="item">
      Item 2
    </a>
      <a class="item">
      Item 3
    </a>
    </div>
    <div class="pusher">

      {{> _header}}
      <div class="container">
        {{> yield "header"}}
        {{> yield}}
        {{> yield region="gu"}}
        <article>
          {{> yield "article"}}
        </article>


      </div>

      {{> _footer}}



    </div>
  </body>
</template>
