<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Bienvenido a TFMapp</h1>
    </div>
    <button id='btnsave' class="ui primary button">
      Save
    </button>
    <button id='btndiscard' class="ui button">
      Discard
    </button>
    {{#if currentUser}}
      <h2>Usuario -> {{email}}</h2>
    {{/if}}

  {{#if isInRole "admin" }}
  <h2>Eres ADMIN {{currentUser.emails.[0].address}}</h2>

    <div class="ui list">
      {{#each  usuarios}}
      <div class="item"><h2>{{_id}}</h2></div>
      {{/each}}
    </div>
  {{/if}}
      {{#if isInRole "alumno" }}
        {{#each userData}}
          {{_id}}
        {{/each}}
      <h2>Eres ALUMNO</h2>
      {{/if}}
  </div>
</template>
