<template name="adminbar">
<div id="itemcontainer">
	<div class="ui large two item inverted menu" id="menugestion">
		
		
		<a class="brown item" id="gestuser"><h3>Gestion de Usuarios   <i class="users icon"></i></h3>
		</a>
		
		<a class="blue item" id="gesttfm"><h3>Gestion de TFMs   <i class="book icon"></i></h3></a>
	</div>
</div>
</template>