<template name="adminpanel">
  <div class="adminpanel">

    {{#if isInRole "admin" }}
    <div class="navbar-search span3 adminusersbar">
      <input type="text" class="search-query" value="{{searchstring}}" placeholder="Search">
    </div>
    <div class="ui middle divided list">
      {{#each us}} {{#unless validado estado}}
      <div class="item">
        <div class="content">
          <div class="header" id="cabecera">{{emails.[0].address}}</div> {{estado}}
          <div class="right floated content">
            <div id="boton-valida" user={{_id}} class="ui button">Add</div>
          </div>
        </div>
      </div>
      {{/unless}} {{/each}}
    </div>

    {{/if}}

<!--{{> adminusers}}-->
  </div>


</template>




<template name="gu" id="gu">
  <div class="ui middle divided list">
    {{#each us}} {{#unless validado estado}}
    <div class="item">
      <div class="content">
        <div class="header">{{emails.[0].address}}</div> {{estado}}
        <div class="right floated content">
          <div id="boton-valida" user={{_id}} class="ui button">Add</div>
        </div>
      </div>
    </div>
    {{/unless}} {{/each}}
  </div>
</template>


<template name="up">
  {{#autoForm collection="Meteor.users" doc=currentUser type="update" id='profileUpdateForm'}}
  <fieldset>
    {{> afQuickField name="estado" options='allowed'}}
  </fieldset>
  <button type='submit' class="btn btn-primary">Guardar Cambios</button>
  {{/autoForm}}
</template>
