@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);

body{
font-family: 'Raleway', sans-serif;
}

div#cabecera{
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  font-weight: 600;
}

div#grid{
  font-weight: 700;
}

div#menugestion{
	height: 150%;
}



