<template name="gtfm" id="gtfm">


  <div class="ui celled stackable grid" id="grid">
    {{#each us}}
    <div class="row">
      <div class="six wide column">
        {{emails.[0].address}}
      </div>
      <div class="four wide column">
        {{roles}}
      </div>
      <div class="five wide column">
        {{estado}}
      </div>
    </div>
    {{/each}}
  </div>
  <div class="ui relaxed list"></div>



</template>
