<template name="gusers" id="gusers">


  <div class="navbar-search span3 adminusersbar">
    <input type="text" class="search-query" value="{{searchstring}}" placeholder="Search">
  </div>
  <div class="ui four column internally celled center aligned pageable grid container" style="background-color: #F0F0F0;" id="grid">
    <div class="row">


        <div class="column">
          <h2 class="ui center aligned block black header">Email</h2>
        </div>
        <div class="column">
            <h2 class="ui center aligned block black header">Roles</h2>
        </div>
        <div class="column">
            <h2 class="ui center aligned block black header">Estado de Validacion</h2>
        </div>
        <div class="column">


      </div>
    </div>
    {{#each us}}
    <div class="row">
      <div class="column">
        {{emails.[0].address}}
      </div>
      <div class="column">

        <!--  {{#each matrizroles}} -->

          <input type="checkbox" class="userRolesInput" name="tutor_{{_id}}" checked={{isChecked this 'tutor'}}>
          <label>Tutor</label>
          <br>
          <input type="checkbox" class="userRolesInput" name="alumno_{{_id}}" checked={{isChecked this 'alumno'}}>
          <label>Alumno</label>
          <br>
          <input type="checkbox" class="userRolesInput" name="comision_{{_id}}" checked={{isChecked this 'comision'}}>
          <label>Comision</label>
        <!--  {{/each}} -->

      </div>

      <div class="column">
        {{estado}}
        <br>
        <br>
        {{#unless validado estado}}
          <button id="boton-valida" user={{_id}} class="huge blue ui button"><i class="checkmark icon"></i>Validar</button>
        {{/unless}}
      </div>
      <div class="column">
        <button id="actualizar" user={{_id}} data-dismiss="alert" class="huge blue ui button"> <i class="refresh icon"></i>Actualizar Usuario</button>
      </div>
    </div>
    {{/each}}
  </div>

</template>
