<template name="tarjeta">
<div class='container'>
	{{> UserProfileEdit}}
</div>
</template>


<template name="profile">
<div class="col col-lg-6">
	<h2>Perfil de Usuario</h2>
	{{> tarjeta }}
</div>

</template>



<template name="UserProfileEdit">
<legend>Edita tu perfil</legend>
        {{#autoForm id="UserProfileEdit" collection="Meteor.users"  doc=currentUser type="update"}}
                {{> afQuickField name="username" label="Nombre de usuario"}}
                {{> afQuickField name="profile.firstName" label="Nombre"}}
                {{> afQuickField name="profile.lastName" label="Primer Apellido"}}

                {{> afQuickField name="profile.birthday" label="Fecha de Nacimiento"}}
                {{> afQuickField name="profile.gender" options="allowed" label="Genero"}}
                {{#unless autoSaveMode}}
                <div class="form-group">
                        <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
                </div>
                {{/unless}}
        {{/autoForm}}
</template>