<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>
    {{#if isInRole "admin" }}
    <div>
      <button class="btn-success">HOLA</button>
    </div>
    {{/if}}
    <div class="ui inverted segment">
      <div class="ui inverted relaxed divided big selection animated list ">
        {{#each tfmdoc}}
        <div class="item">
          <div class="content">
            <div class="header">{{titulo}}</div>
            {{idioma}}
          </div>
        </div>
        {{/each}}
      </div>

    </div>


{{> insertTfmForm2}}


  </div>
</template>

<template name="insertTfmForm">
  {{> quickForm collection="Tfmdoc" id="insertTfmForm" type="insert"}}
</template>

<template name="insertTfmForm2">
  {{> quickForm collection="PropuestaTfm" id="insertTfmForm2" type="insert"}}
</template>
